* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #191919;
}

.container {
  width: 1366px;
  margin: 0px auto;
}

.owl-carousel .owl-video-tn {
  min-height: 400px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  width: 464px;
  height: 549px;
  background-color: #fff;
  border-radius: 10px;
}

.modal .modal-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modal-form #close {
  width: 14px;
  height: 14px;
  background-image: url(../img/close.svg);
  background-repeat: no-repeat;
  color: #000;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.modal .modal-form h2 {
  font-size: 30px;
  margin: 50px 0px;
}

.modal .modal-form input {
  color: #a0a0a0;
  opacity: 0.5;
  width: 317px;
  height: 89px;
  border: none;
  font-size: 18px;
  background-color: #e8e8e8;
  border-radius: 50px;
  padding: 0px 35px;
  margin-bottom: 10px;
}

.modal .modal-form button {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 34px 100px;
  margin-bottom: 40px;
  background: linear-gradient(327.63deg, #F6C150 35.44%, #FDED9B 94.34%);
  border: 1px solid #FFD57A;
  border-bottom: 2px solid #C49028;
  border-radius: 100px;
  cursor: pointer;
}

.modal .modal-form a {
  width: 60%;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 30px auto;
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
}

.header .header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .header-menu ul li {
  padding: 0px 16px;
}

.header .header-menu ul li:last-child {
  margin-right: 100px;
}

.header .header-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}

.header .header-menu ul li a:hover {
  color: #F7CA60;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header .header-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 2px dotted #F7CA60;
  padding-bottom: 15px;
}

.header .header-city i, .header .header-city a, .header .header-city .header-contact .header-contact-cell a, .header .header-contact .header-contact-cell .header-city a {
  font-weight: 300;
  font-size: 14px;
  color: #F7CA60;
}

.header .header-city a {
  text-decoration: none;
  padding: 0 5px;
}

.header .header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header-contact .header-contact-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
}

.header .header-contact .header-contact-cell i, .header .header-contact .header-contact-cell a {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}

.header .header-contact .header-contact-cell a {
  text-decoration: none;
  padding: 0px 0px 0px 15px;
}

.header .header-contact .header-contact-btn button {
  color: #000;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  background: linear-gradient(286.62deg, #F6C150 5.23%, #FDED9B 97.02%);
  -webkit-box-shadow: 0px 4px 10px #F7C251;
          box-shadow: 0px 4px 10px #F7C251;
  border: 1px solid #F7C251;
  border-bottom: 2px solid #C49028;
  border-radius: 21px;
  padding: 15px 28px;
  cursor: pointer;
}

.promo {
  height: 800px;
  background-image: url(../img/promo-bcg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
}

.promo h1 {
  width: 60%;
  color: #fff;
  font-size: 77px;
  margin-bottom: 32px;
}

.promo h1 span {
  color: #F7CA60;
  text-transform: uppercase;
}

.promo h2 {
  width: 39%;
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.5;
  padding-bottom: 55px;
}

.promo button {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 18px 40px;
  background: linear-gradient(327.63deg, #F6C150 35.44%, #FDED9B 94.34%);
  -webkit-box-shadow: 0px 4px 50px #FFD57A;
          box-shadow: 0px 4px 50px #FFD57A;
  border: 1px solid #FFD57A;
  border-bottom: 2px solid #C49028;
  border-radius: 100px;
  cursor: pointer;
}

.promo button:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.quiz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quiz h2 {
  color: #fff;
  font-size: 60px;
  margin: 30px 0px 150px 0px;
}

.quiz h2 span {
  color: #F7CA60;
}

.quiz .quiz-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 904px;
  height: 584px;
  background-color: #fff;
  border-radius: 7px;
  margin-bottom: 60px;
}

.quiz .quiz-wrap .drop-one {
  position: absolute;
  top: -65px;
  left: -75px;
  z-index: 1;
}

.quiz .quiz-wrap .drop-two {
  position: absolute;
  top: -69px;
  right: 247px;
  z-index: -1;
}

.quiz .quiz-wrap .drop-three {
  position: absolute;
  top: 127px;
  right: -120px;
  z-index: -1;
}

.quiz .quiz-wrap .drop-four {
  position: absolute;
  left: -55px;
  bottom: 30px;
}

.quiz .quiz-wrap .drop-five {
  position: absolute;
  right: 60px;
  bottom: -180px;
}

.quiz .quiz-wrap .quiz-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quiz .quiz-wrap .quiz-body .quiz-body-progress {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 502px;
  height: 62px;
  background-color: #EDEDED;
  border-radius: 30px;
  margin-bottom: 50px;
}

.quiz .quiz-wrap .quiz-body .quiz-body-progress span {
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  z-index: 2;
}

.quiz .quiz-wrap .quiz-body .quiz-body-progress::before {
  content: '';
  position: absolute;
  left: 0;
  width: 20%;
  height: 62px;
  border-radius: 30px;
  background: linear-gradient(318.82deg, #F6C150 35.44%, #FDED9B 94.34%);
  z-index: 1;
}

.quiz .quiz-wrap .quiz-body .quiz-body-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quiz .quiz-wrap .quiz-body .quiz-body-wrap .title {
  color: #000;
  font-size: 32px;
}

.quiz .quiz-wrap .quiz-body .quiz-body-wrap .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 621px;
  margin: 60px 0px;
}

.quiz .quiz-wrap .quiz-body .quiz-body-wrap .radio .radio-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quiz .quiz-wrap .quiz-body .quiz-body-wrap .radio .radio-position input {
  margin-right: 13px;
}

.quiz .quiz-wrap .quiz-body .quiz-body-wrap .radio .radio-position label {
  font-size: 20px;
  font-weight: 300;
}

.quiz .quiz-wrap .quiz-body .quiz-body-wrap .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 560px;
}

.quiz .quiz-wrap .quiz-body .quiz-body-wrap .buttons .prev {
  color: #b3b3b3;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: none;
}

.quiz .quiz-wrap .quiz-body .quiz-body-wrap .buttons .next {
  color: #000;
  font-size: 18;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding: 33px 50px;
  background: linear-gradient(327.63deg, #F6C150 35.44%, #FDED9B 94.34%);
  border: 1px solid #FFD57A;
  border-bottom: 3px solid #C49028;
  border-radius: 100px;
  cursor: pointer;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.video h2 {
  color: #fff;
  font-size: 60px;
  margin: 140px 0px 90px 0px;
}

.video h2 span {
  color: #F7CA60;
}

.owl-carousel .owl-video-wrapper {
  border-radius: 10px;
}

.owl-carousel .owl-video-tn {
  background-size: cover;
  border-radius: 10px;
}

.owl-carousel .owl-video-play-icon {
  background: url(../img/owl.video.play.png) no-repeat;
}
/*# sourceMappingURL=main.css.map */