.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 30px auto;
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  .header-menu {
    ul {
      display: flex;
      list-style: none;
      li {
        padding: 0px 16px;
        &:last-child {
          margin-right: 100px;
        }
        a {
          color: #fff;
          text-decoration: none;
          font-size: 14px;
          font-weight: 300;
          &:hover {
            color: #F7CA60;
            transition: 0.8s;
          }
        }
      }
    }
  }
  .header-city {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 2px dotted #F7CA60;
    padding-bottom: 15px;
    i {
      font-weight: 300;
      font-size: 14px;
      color: #F7CA60;
    }
    a {
      text-decoration: none;
      padding: 0 5px;
      @extend i;
    }
  }
  .header-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    .header-contact-cell {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin-bottom: 15px;
      i {
        color: #fff;
        font-size: 22px;
        font-weight: 500;
      }
      a {
        text-decoration: none;
        padding: 0px 0px 0px 15px;
        @extend i;
      }
    }
    .header-contact-btn {
      button {
        color: #000;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        background: linear-gradient(286.62deg, #F6C150 5.23%, #FDED9B 97.02%);
        box-shadow: 0px 4px 10px #F7C251;
        border: 1px solid #F7C251;
        border-bottom: 2px solid #C49028;
        border-radius: 21px;
        padding: 15px 28px;
        cursor: pointer;
      }
    }
  }
}