.promo {
  height: 800px;
  background-image: url(../img/promo-bcg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  h1 {
    width: 60%;
    color: #fff;
    font-size: 77px;
    margin-bottom: 32px;
    span {
      color: #F7CA60;
      text-transform: uppercase;
    }
  }
  h2 {
    width: 39%;
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.5;
    padding-bottom: 55px;
  }
  button {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 18px 40px;
    background: linear-gradient(327.63deg, #F6C150 35.44%, #FDED9B 94.34%);
    box-shadow: 0px 4px 50px #FFD57A;
    border: 1px solid #FFD57A;
    border-bottom: 2px solid #C49028;;
    border-radius: 100px;
    cursor: pointer;
    &:hover {
      transition: 0.8s;
      box-shadow: none;
    }
  }
}