.quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    color: #fff;
    font-size: 60px;
    margin: 30px 0px 150px 0px;
    span {
      color: #F7CA60;
    }
  }
  
  .quiz-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 904px;
    height: 584px;
    background-color: #fff;
    border-radius: 7px;
    margin-bottom: 60px;
    .drop-one {
      position: absolute;
      top: -65px;
      left: -75px;
      z-index: 1;
    }
    .drop-two {
      position: absolute;
      top: -69px;
      right: 247px;
      z-index: -1;
    }
    .drop-three {
      position: absolute;  
      top: 127px;
      right: -120px;
      z-index: -1;
    }
    .drop-four {
      position: absolute; 
      left: -55px;
      bottom: 30px;
    }
    .drop-five {
      position: absolute; 
      right: 60px;
      bottom: -180px;
    }
    .quiz-body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .quiz-body-progress {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 502px;
        height: 62px;
        background-color: #EDEDED;
        border-radius: 30px;
        margin-bottom: 50px;
        span {
          color: #000;
          font-size: 16px;
          text-transform: uppercase;
          z-index: 2;
        }
        &::before {
          content: '';
          position: absolute;
          left: 0;
          width: 20%;
          height: 62px;
          border-radius: 30px;
          background: linear-gradient(318.82deg, #F6C150 35.44%, #FDED9B 94.34%);
          z-index: 1;
        }
      }
      .quiz-body-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .title {
          color: #000;
          font-size: 32px;
        }
        .radio {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 621px;
          margin: 60px 0px;
          .radio-position {
            display: flex;
            justify-content: center;
            align-items: center;
            input {
              margin-right: 13px;
            }
            label {
              font-size: 20px;
              font-weight: 300;
            }
          }
        }
        .buttons {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 560px;
          .prev {
            color: #b3b3b3;
            font-size: 18px;
            text-decoration: none;
            text-transform: uppercase;
            background-color: none;
          }
          .next {
            color: #000;
            font-size: 18;
            font-weight: 600;
            text-decoration: none;
            text-transform: uppercase;
            padding: 33px 50px;
            background: linear-gradient(327.63deg, #F6C150 35.44%, #FDED9B 94.34%);
            border: 1px solid #FFD57A;
            border-bottom: 3px solid #C49028;
            border-radius: 100px;
            cursor: pointer;
          }
        }
      }
    }
  }
}