.video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  h2 {
    color: #fff;
    font-size: 60px;
    margin: 140px 0px 90px 0px;
    span {
      color: #F7CA60;
    }
  }
}

.owl-carousel .owl-video-wrapper {
  border-radius: 10px;
}

.owl-carousel .owl-video-tn {
  background-size: cover;
  border-radius: 10px;
}

.owl-carousel .owl-video-play-icon {
  background: url(../img/owl.video.play.png) no-repeat;
}
