* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #191919;
}

.container {
  width: 1366px;
  margin: 0px auto;
}

.owl-carousel .owl-video-tn {
  min-height: 400px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 464px;
  height: 549px;
  background-color: #fff;
  border-radius: 10px;
  .modal-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #close {
      width: 14px;
      height: 14px;
      background-image: url(../img/close.svg);
      background-repeat: no-repeat;
      color: #000;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 14px;
      cursor: pointer;
    }
    h2 {
      font-size: 30px;
      margin: 50px 0px;
    }
    input {
      color: #a0a0a0;
      opacity: 0.5;
      width: 317px;
      height: 89px;
      border: none;
      font-size: 18px;
      background-color: #e8e8e8;
      border-radius: 50px;
      padding: 0px 35px;
      margin-bottom: 10px;
    }
    button {
      color: #000;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 34px 100px;
      margin-bottom: 40px;
      background: linear-gradient(327.63deg, #F6C150 35.44%, #FDED9B 94.34%);
      border: 1px solid #FFD57A;
      border-bottom: 2px solid #C49028;;
      border-radius: 100px;
      cursor: pointer;
    }
    a {
      width: 60%;
      color: #000;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.5;
      text-align: center;
      text-decoration: none;
    }
  }
}

@import 'header';
@import 'promo';
@import 'quiz';
@import 'slider';